{% extends "default.html" %}
{% block title %}Statistics{% endblock title %}
{% block content %}
<div class="posts">
    <table>
        <tr>
            <th>Number</th>
            <th>Title</th>
            <th>View</th>
        </tr>
        {% for post in posts %}
        {% if post.layout == "PODCAST" %}
        <tr>
            <th style="text-align: start;">{{ post.number }}</th>
            <th style="text-align: start;"><a href="{{ url | safe }}/{{ post.slug }}">{{ post.title | safe}}</a></th>
            <th style="text-align: start;">{{ post.downloads }}</th>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
</div>
{% endblock content %}
